.row{
    max-width:$grid-width;
     //background-color: #eee;
    margin: 0 auto;
    &:not(:last-child)
    {
        margin-bottom: $grid-vertical;
        @include respond(mid)
        {
            margin-bottom: $grid-vertical-small;
        }

    }

    @include respond(mid){
        max-width: 50rem;
       // padding: 0 3rem;
  }
    [class^="col-"]
  
    {
        
         
       // background-color: pink;
        float: left;
        &:not(:last-child)
        {
            margin-right:$grid-horizontal;

            @include respond(mid){
                margin-right: 0;
          }

          @include respond(mid){
            margin-bottom: $grid-vertical-small;
      }
        }

        @include respond(mid){
              width: 100% !important;
        }
    }
    @include clearfix;
    .col-1-of-2{
       
        width: calc((100% - #{$grid-horizontal})/2);
    }
    .col-1-of-3{
        width:calc((100% - 2*#{$grid-horizontal})/3);
    }
    .col-2-of-3{
        width:calc(2*((100% - 2 * #{$grid-horizontal})/3)   + #{$grid-horizontal} );
    }
    .col-1-of-4{
        width:calc((100% - 3*#{$grid-horizontal})/4);
    }
    .col-2-of-4{
        width:calc(2*((100% - 3*#{$grid-horizontal})/4)  + #{$grid-horizontal});
    }
    .col-3-of-4{
        width:calc(3*((100% - 3*#{$grid-horizontal})/4) + 2 * #{$grid-horizontal});
    }
}