$pc:#55c57a;
$sc:#7ed56f;
$tc:#28b485;
$cg:#777;
$cgd:#333;
$cb:#000;
$clg-1:#f7f7f7;
$csl:#ffb970;
$csd:#ff7730;
$ctl:#2998ff;
$ctd:#5643fa;
$cw:#fff;
$default-font:1.6rem;
//grid
$grid-width:90rem;
$grid-horizontal:3rem;
$grid-vertical:8rem;
$grid-vertical-small:6rem;